body {
    background: url('/images/imoneza-pattern.png') #ffffff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 22px;
}

/** util **/
.vertical-spacing-top-md {
    margin-top: 2rem;
}
.vertical-spacing-top-lg {
    margin-top: 4rem;
}
.no-vertical-spacing-top {
    margin-top: 0;
}

#top-bar {
    background: #333333;
    color: #eeeeee;
}
#top-bar a {
    text-decoration: none;
    color: #eeeeee;
}
#top-bar a:hover {
    color: #ffffff;
}

.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    padding: 7px;
}

main {
    background: #ffffff;
    padding-bottom: 5rem;
}
.btn {
    border: 0;
    border-radius: 2px;
}
.btn-primary {
    background: #ff9328;
    color: #ffffff;
}

.fa.large-logo {
    font-size: 6rem;
}
footer {
    background-color: #252525;
    color: #777777;
    padding: 1.3rem 0;
}
footer a {
    color: #bbbbbb;
}
footer a:hover {
    color: #ffffff;
}